body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #05c1f5;
}
header {
  background:#89c7c5;
  color: white;
  padding: 15px;
}

nav {
  margin-top: 10px;
}
.nav-btn {
  background-color: #db6060;
  padding: 12px 18px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px:
  transition: 0.2s;
}
